# Standard
dev/
data/cache/
output/
__pycache__/
.idea/
.DS_Store
.env

# Specialized
/*.json
/*.obo
/*.owl
/*.tmp
/*.tsv
/fetch
/ftp.ncbi.nlm.nih.gov/
*ignore/
.ipynb_checkpoints/
_archive/
release/
tmp/
